.test {
    color: #ff41f1;
}

.hi h1 {
    color: #52bdff;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.hi {
    color: #52bdff;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#red {

}

body {
    font: normal 14px/25px '微软雅黑';
}

